# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
*.egg
.installed.cfg
MANIFEST

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment
venv/
env/
ENV/

# Jupyter Notebooks
.ipynb_checkpoints

# Log files
*.log 